/*////// here's our css rules will go  //////*/
@font-face {
    font-family: "Touche W03 Bold.ttf";
    src: url(../fonts/Touche\ W03\ Bold.ttf);
}
*{font-family: "Touche W03 Bold.ttf"}
/*//// Don't forget to sign your code ////*/


/*////// Start of what-we-do-section style rules by Rabie //////*/
#what-we-do h5{
    text-align: center;
    margin: 4% auto 0.7%;
    font-size: 0.6em;
    border: 0.1em solid darkgoldenrod;
    color: darkgoldenrod;
    max-width: 6em;
    padding: 0.7em 0.7em;
}
#what-we-do h3{
    text-align: center;
    margin: 2% auto;
    padding: 1%;
    margin: 0.1% auto;
}

#what-we-do p{
    text-align: center;
    margin: 2% auto;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    max-width: 40em;
    margin: 0 auto;
}

#what-we-do .row{
    margin-top: 5%; 
}

#what-we-do-left img,#what-we-do-right img{
    max-width: 4em;
    margin: 0 5% 10.5% 5%;
}
#what-we-do-left h4,#what-we-do-right h4{
    font-size: 105%;
    
}
#what-we-do-left p,#what-we-do-right p{
    font-size: 90% ;
}
#what-we-do-left h4,#what-we-do-left p{
    text-align: right;
    max-width: 100%;
}
#what-we-do-right h4,#what-we-do-right p{
    text-align: left;
    max-width: 100%;
}
#what-we-do-left img{
    float: right;
}
#what-we-do-right img{
    float: left;
}
#what-we-do-center img{
    margin: 6% 0 6% 10%;
}
#what-we-do-right,#what-we-do-left{
    margin: auto;
}
#what-we-do-right div,#what-we-do-left div{
    margin: 8% auto;
}
.rel-img{
    position: relative;
}
/*////// End of what-we-do-section style rules by Rabie //////*/